#openrc file for fencing

export OS_PROJECT_NAME=bking.fence
export OS_PROJECT_ID=766030
export OS_USERNAME=bking.fence
export OS_PASSWORD=Our1eek-ei,p
export OS_AUTH_URL=https://identity.api.rackspacecloud.com/v2.0/
export OS_REGION_NAME=IAD
