#openrc file for fencing

export OS_PROJECT_NAME={{ cloud_user }}
export OS_PROJECT_ID={{ cloud_acct }}
export OS_USERNAME={{ cloud_user }}
export OS_PASSWORD={{ cloud_pw }}
export OS_AUTH_URL=https://identity.api.rackspacecloud.com/v2.0/
export OS_REGION_NAME={{ cloud_region }}
